.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.tarot-heading {
    font-family: "Jacquard 24", system-ui;
    font-size: 3.5rem;
    font-weight: 600;
    color: #6a1ada;
    text-shadow: 2px 2px 10px rgba(17, 0, 125, 0.5); /* Adds some depth */
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
  }
  
